################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/code-challenges/.net/.vs
/backend/code-challenges/.net/src/main/Creditas.Challenge.WebAPI/.vs/Creditas.Challenge.WebAPI
/backend/code-challenges/.net/src/main/Creditas.Challenge.WebAPI/bin/Debug/netcoreapp3.1
/backend/code-challenges/.net/src/main/Creditas.Challenge.WebAPI/obj
/backend/code-challenges/.net/src/test/Creditas.Challenge.WebAPI.Test/bin/Debug/netcoreapp3.1
/backend/code-challenges/.net/src/test/Creditas.Challenge.WebAPI.Test/obj
